<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <title>AngularJS Directives Workshop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="main.js"></script>
  </head>
  <body ng-controller="MyController" class="container">
    <h2>AngularJS Directives Workshop</h2>
    <div actor-list="actor in actors">
      <span>Name: {{actor.age}}</span>
    </div>
    <button class="btn btn-primary" ng-click="add()">Add</button>
    <button class="btn btn-primary" ng-click="remove()">Remove</button>
  </body>
</html>