<div class="panel panel-primary">
    <div class="panel-heading">{{customer.name}}</div>
    <div class="panel-body">
        <h4>Type:</h4>
        <div>{{customer.type}}</div>
        <h4>Wishlist:<h4></h4>
        <ul>
            <li ng-repeat="wish in customer.wishlist">
                {{wish}}
            </li>
        </ul>
        <div ng-show="!!customer.status">
            Status: {{customer.status}}
        </div>
        <button ng-show="!customer.status" class="btn btn-success" ng-click="upgrade(customer)">Upgrade</button>
    </div>
</div>